@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    
}

.alert {
    padding: 20px;
    border-radius: 5px;
    background-color: #ffc107;
    color: white;
    top: 1%;
    left: 40%;
    right: 40%;
    position:fixed;
    z-index: 1;
  }.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }.closebtn:hover {
    color: black;
  }

.card{
    border-radius: 5px;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px; */
    box-shadow: 0 0 20px 6px #090b6f85;
    /* width: 100rem; */
    padding: 2%;
    margin: 10%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/209/068/original/moving-truck-illustration-vector.jpg");
}
.banner_container{
    width: 100%;
    height: auto;
  
}

.banner_container img{
    filter: blur(1.5px) brightness(65%);
}
.banner_container .banner{
    width: inherit;
    height: 50%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    display: inline-block;
    font-size: 3rem;
    font-weight:1000;
    color: white;
    text-shadow: 2px 2px #090b6f85;;
}
.btn {
    background-color: #444f75;
    border-color: #444f75;
}
.btn:hover{
    background-color: #428c76;
    border-color:#428c76;
}